<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h4>Registrar usuario</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-input-container>
              <input 
                type="text" 
                matInput
                name="name"
                [(ngModel)]="registerData.name"  
                placeholder="Nombre"/>
            </mat-input-container>
        <mat-input-container>
          <input 
            type="text" 
            matInput
            name="email"
            [(ngModel)]="registerData.email"  
            placeholder="Correo electrónico"/>
        </mat-input-container>
        <br>
        <mat-input-container>
          <input 
            type="password" 
            matInput
            name="password"
            [(ngModel)]="registerData.password"  
            placeholder="Contraseña"/>
        </mat-input-container>   
        <br>
        <mat-input-container>
            <textarea             
              matInput
              style="width:100%"
              name="description"
              [(ngModel)]="registerData.description"  
              placeholder="Description">
            </textarea>
          </mat-input-container> 
        <br>    
        <button 
          mat-raised-button
          (click)="register()" 
          color="primary">Registrar</button>
      </form>
    </mat-card-content>
  </mat-card>