<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h4>Login</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-input-container>
          <input 
            type="text" 
            matInput
            name="email"
            [(ngModel)]="loginData.email"  
            placeholder="Correo electrónico"/>
        </mat-input-container>
        <mat-input-container>
          <input 
            type="password" 
            matInput
            name="password"
            [(ngModel)]="loginData.password"  
            placeholder="Contraseña"/>
        </mat-input-container>
        <button 
          mat-raised-button
          (click)="login()" 
          color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>