<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h4>New post</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>        
        <mat-input-container>
            <textarea             
              matInput
              style="width:100%"
              name="description"
              [(ngModel)]="post.msg"  
              placeholder="Post message">
            </textarea>
          </mat-input-container> 
        <br>    
        <button 
          mat-raised-button
          (click)="postMessage()" 
          color="primary">Post</button>
      </form>
    </mat-card-content>
  </mat-card>